@charset "utf-8";
@import url('https://fonts.google.com/specimen/Noto+Sans+SC#standard-styles');
.navbar{
	color: rgba(0, 0, 0, 0.7) !important;
	background-color: rgba(0, 0, 0, 0.7) !important;
	
	}
	
.navar li a:hover{
	color:black !important;
	}
.col-sm-4{
	right: 100px !important;
	
	}
#mcd01{
	 text-align: justify;
	 font-size:18px;
	}
#mcd02{
	 text-align: justify;
	}
#mcd03{
	font-style:italic;
	text-align: center;
	display:block;
	}
#mcd04{
	text-align: center;
	display:block;
	}